
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedicineGuide</title>
</head>
<body>
    {% include 'nav_bar.html' %}
    
<h1>Калькулятор роста ребёнка</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Рассчитать</button>
</form>
<h2>Target height: {{ target_height }}</h2>
<h2>Z-score: {{ z_score }}</h2>
<h2>Height percentile: {{ height_percentile }}</h2>
</body>
</html>
