{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="{% static 'css/search_by_symptoms.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src='{% static "js/search_by_symptoms.js" %}'></script>
    <title>MedicineGuide</title>

</head>

<body>
    {% include 'nav_bar.html' %}
   
    <div class="term">
        <form action="{% url 'search_disease_by_symptoms' %}" method="POST">
    {% if selected_symptoms %}
    <h2 class="select">Выбранные симптомы:</h2>
       
            {% for symptom in selected_symptoms %}
            <p class="terms">{{ symptom }}</p>
            {% endfor %}
 
    {% endif %}
    {% if diseases %}
    <h2 class="select" id="search">Найденные заболевания:</h2>

        
            {% for disease in diseases %}
                <p class="terms">{{ disease }}
                   
                </p>
            {% endfor %}
        
   
    {% else %}
    <h2 class="select">Найденные заболевания:</h2>
            <p class="terms">Заболевания не найдены.</p>
        {% endif %}
    <button type="submit" id="search-btn">Найти заболевания</button>
    </div>
   
        {% csrf_token %}
        <h2 class="terms-list" id="symptoms">Выберите симптомы:</h2>
      
        {% for letter, symptoms in all_symptoms.items %}
        <h2 id="letter">{{ letter }}</h2>
        <div class="grid-container">
          {% for symptom in symptoms %}
          <div class="grid-item">
            <label>
              <input type="checkbox" name="symptoms" value="{{ symptom }}" {% if symptom.name in selected_symptoms %} checked {% endif %}>
              <span id="symptomText">{{ symptom }}</span>
            </label><br>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
       
      </form>
   

      <!-- <h1>Выберите симптомы:</h1>
    <form method="POST" action="{% url 'search_disease_by_symptoms' %}">
        {% csrf_token %}
            {% for symptom in all_symptoms %}
            
                <input type="checkbox" name="symptoms" id="checkbox1" value="{{ symptom }}">
                <label>{{ symptom }}</label><br>
            
            {% endfor %}
        
        <button type="submit">Поиск</button>
    </form> -->

    

    
</body>
</html>